@using NerLaiko.Models
@model System.Collections.Generic.List<NerLaiko.Models.Item>

@{
    ViewBag.Title = "Products";
    Layout = "_Layout";
}

<h2>Products</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th colspan="2">Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        string unit;
        switch (item.Unit)
        {
            case Unit.Gram:
                unit = "g";
                break;
            case Unit.Millileter:
                unit = "ml";
                break;
            default:
                unit = "";
                break;
        }
        <tr>
            <td><a href="@Url.Action("Order", "Order", new { item.Id })">@item.Name</a></td>
            <td>@item.DeliveryAmount</td>
            <td>@unit</td>
            <td>@item.Price</td>
        </tr>
    }
</table>